{
    "YourFuckingIPAddress": "{{.Address}}",
    "YourFuckingLocation": "{{.Geo}}",
    "YourFuckingHostname": "{{.Hostname}}",
    "YourFuckingISP": "{{.ISP}}",
    "YourFuckingTorExit": false,
    "YourFuckingCountryCode": "{{.CountryCode}}"
}
